section {
  h1 {
    font-size: 22px;
    color: $white;
    font-weight: 600;

    margin: 20px 0;
  }
  p {
    font-size: 18px;

    margin-bottom: 20px;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .price {
      color: $cyan;
      display: flex;
      align-items: center;
      img {
        margin-right: 5px;
      }
    }
    .date {
      display: flex;
      align-items: center;
      img {
        margin-right: 5px;
      }
    }
  }
}
